.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.modalContent {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    transition: 0.3s;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}