@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #252525;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 20px;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 1000px;
}

.about-container {
  margin-top: 100px;
  text-align: center;
}

.navbar {
  margin-top: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  font-size: 24px;
  list-style-type: none;
  cursor: pointer;
}

.frozen-container {
}

.content {
  z-index: 3;
  position: relative;
  margin-top: 70px;
  padding: 50px 200px;
  border-radius: 50px 0 50px 0;
  background: rgba(241, 241, 241, 0.3);
  backdrop-filter: blur(40px);
}

.circle-pink {
  z-index: 2;
  position: relative;
  width: 199px;
  height: 199px;
  left: -43px;
  top: -348px;
  border-radius: 100%;
  background: #FAD4C0;
  filter: blur(12px);
}

.circle-blue {
  z-index: 1;
  position: relative;
  width: 233px;
  height: 233px;
  left: 800px;
  top: -330px;
  border-radius: 100%;
  background: #8894FF;
  filter: blur(12px);
}

.profile {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
