.inputContainer {
    width: 100%;
}

.inputContainer p {
    font-size: 14px;
    color: lightgrey;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.in {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 50px;
    font-size: 18px;
    text-indent: 15px;
    outline: none;
    border: 1px solid #d4d4d4;
}